header#inicio {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.header-content {
  background-color: var(--cor5);
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.links {
  background-color: var(--cor5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 2.5rem;
}

.link-list {
  gap: 3.125rem;
  font-size: 1.1rem;
  display: flex;
  padding: 3.125rem 0rem 3.125rem 9.375rem;
}

.insta img,
.git img,
.linkedin img,
.whatsapp img {
  gap: 1.25rem;
  width: 2.1875rem;
  height: auto;
  transition: transform 0.3s ease;
}

.insta img:hover,
.git img:hover,
.linkedin img:hover,
.whatsapp img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  filter: brightness(1.4);
  cursor: pointer;
}

.links-redes {
  display: flex;
  gap: 3.125rem;
}

@media (max-width: 500px) {
  .links {
    padding: 2.5rem 2.5rem 0 2.5rem;
  }
  .insta img,
  .git img,
  .linkedin img,
  .whatsapp img {
    width: 1.5rem;
    height: auto;
    transition: transform 0.3s ease;
  }
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.5625rem;
}

nav ul li a {
  color: var(--cor3);
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--cor1);
  text-shadow: var(--cor1) 0rem 0rem 0.625rem;
}
