:root {
  --sidebar-width: 4.375em;
  --transicao-suave: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 1.25em;
  height: auto;
  width: var(--sidebar-width);
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: 1.25em 0;
  transition: all var(--transicao-suave);
  background: linear-gradient(
    280deg,
    rgba(0, 0, 0, 0.829),
    rgba(105, 105, 105, 0.466)
  );
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.842),
    inset -2px -3px 5px rgba(255, 255, 255, 0.144);
  border-radius: 40px;
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  width: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125em;
  height: 3.125em;
  border-radius: 1.875em;
  color: var(--cor3);
  text-decoration: none;
  transition: background-color 0.3s ease,
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
  box-shadow: inset 2px 2px 5px rgb(0, 0, 0),
    inset -2px -2px 5px rgba(255, 255, 255, 0.2);
  background-color: var(--cor2);
  color: var(--cor3);
}

.nav-link.active {  
  transform: translateX(2em);
  color: var(--cor5);
  background-color: var(--cor3);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.589),
    inset -2px -1px 4px rgba(255, 255, 255, 0.945);
}

.nav-link.active::before,
.nav-link.active::after {
  display: none;
  transition: background-color 0.3s ease,
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active::after {
  content: "";
  position: absolute;
  top: -1.75em;
  left: 1.5625em;
  width: 1.25em;
  height: 1.875em;
  border-radius: 3.125em;
  background: rgba(255, 0, 0, 0);
  box-shadow: -0.5625em 0.9375em 0em -0.1875em var(--cor2);
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link i {
  font-size: 1.4rem;
  position: relative;
  z-index: 2;
  text-shadow: none;
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}
